body {
    background-color: $color-fondo;
}

/* Inicio de header */

.header {
    width: 100%;
    height: 70px;
    background-color: #0A1A2A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
}

.header-left,
.header-right {
    display: flex;
    gap: 15px;
}

.icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

/* ------- BUSCADOR ------- */
.search-container {
    position: relative;
    overflow: hidden;
    /* Oculta el input cuando está cerrado */
    width: 0;
    /* Comienza cerrado */
    transition: width .4s ease;
}

/* El input que se despliega */
.search-input {
    width: 250px;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
}

/* Cuando se activa, se despliega hacia la izquierda */
.search-container.active {
    width: 250px;
}


/* ------- NAV ------- */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
    background-color: white;
}

.logo {
    width: 130px;
}

/* Menú */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    text-decoration: none;
    color: #0A1A2A;
    font-size: 18px;
    transition: .3s;
}

.nav-menu li a:hover {
    color: #007BFF;
}

/* ------- MENÚ HAMBURGUESA (solo móvil) ------- */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #0A1A2A;
    border-radius: 5px;
}

/* ------- RESPONSIVE ------- */
@media (max-width: 900px) {
    .nav-menu {
        position: fixed;
        top: 150px;
        /* debajo del header y nav */
        right: -100%;
        width: 60%;
        height: 100vh;
        background: white;
        flex-direction: column;
        padding-top: 40px;
        gap: 30px;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
        transition: .3s;
    }

    .nav-menu.active {
        right: 0;
    }

    .hamburger {
        display: flex;
    }
}
/* Fin de header */



//Espaciado entre header y secciones
.esp1 {
    margin-top: $espaciado-header;
}

//Ajuste de imágenes al contenedor
img {
    object-fit: contain;
    width: 100%;
}

//Botón celeste claro
.btn1 {
    @include boton-banner
}

.btn1:hover {
    @include hover-boton-banner
}

.bajada-titulo-banner {
    font-family: $parrafos;
    font-size: 1.5rem; //22px
    font-weight: 400;
    color: $color-principal;
}