body {
    background-color: $color-fondo;
}

/* ------- HEADER ------- */

.header {
    width: 100%;
    height: 70px;
    background-color: #26364D;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    box-sizing: border-box;
}

.header-left,
.header-right {
    display: flex;
    gap: 15px;
}

.icon {
    width: 28px;
    height: 28px;
    cursor: pointer;
}

/* ------- BUSCADOR ------- */
.search-container {
    position: relative;
    overflow: hidden;
    /* Oculta el input cuando está cerrado */
    width: 0;
    /* Comienza cerrado */
    transition: width .4s ease;
}

/* El input que se despliega */
.search-input {
    width: 250px;
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 15px;
}

/* Cuando se activa, se despliega hacia la izquierda */
.search-container.active {
    width: 250px;
}


/* ------- NAV ------- */
.navbar {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    box-sizing: border-box;
    background-color: white;
}

.logo {
    width: 130px;
}

/* Menú */
.nav-menu {
    display: flex;
    list-style: none;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.nav-menu li a {
    display: inline-block;
    padding: 31px 20px;
    color: #000000;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Hover con fondo cuadrado y border-radius en las aristas inferiores */
.nav-menu li a:hover {
    background-color: #26364D;
    /* color de fondo al pasar el mouse */
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    color: white;
}

/* ------- MENÚ HAMBURGUESA (solo móvil) ------- */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.hamburger span {
    width: 25px;
    height: 3px;
    background-color: #0A1A2A;
    border-radius: 5px;
}

/* ------- RESPONSIVE ------- */
@media (max-width: 900px) {
    .nav-menu {
        position: fixed;
        top: 150px;
        /* debajo del header y nav */
        right: -100%;
        width: 60%;
        height: 100vh;
        background: white;
        flex-direction: column;
        padding-top: 40px;
        gap: 30px;
        box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
        transition: .3s;
    }

    .nav-menu.active {
        right: 0;
    }

    .hamburger {
        display: flex;
    }
}




/* -------- FOOTER -------- */

.footer {
    background-color: #26364D;
    /* Azul oscuro */
    color: white;
    padding: 40px 20px;
    font-family: Arial, sans-serif;
}

/* Contenedor centrado */
.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 125px;
}

.footer-section h3 {
    margin-bottom: 15px;
    font-size: 18px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
    font-size: 15px;
}

/* Redes sociales */
.social-icons {
    margin-top: 15px;
    display: flex;
    gap: 15px;
}

.social-icons img {
    width: 28px;
    height: 28px;
    filter: brightness(0) invert(1);
    transition: 0.3s ease;
    cursor: pointer;
}

.social-icons img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

/* Logo */
.footer-logo {
    margin-left: auto;
    /* Empuja el logo al extremo derecho */
}

.footer-logo img {
    width: 140px;
    height: auto;
    object-fit: contain;
}

/* Barra inferior */
.footer-bottom {
    max-width: 1100px;
    margin: 40px auto 0;
    text-align: center;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    padding-top: 15px;
    font-size: 14px;
}

/* -------- RESPONSIVE -------- */

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer-logo {
        margin-left: 0;
        margin-top: 20px;
    }

    .social-icons {
        justify-content: center;
    }
}


/* ---- HOME ----- */

/* +++++ ESPACIADOS +++++ */

//Espaciado entre header y secciones
.esp1 {
    margin-top: $espaciado-header;
}

//Espaciado entre secciones y footer
.esp2 {
    margin-top: $espaciado-footer;
}

//espaciado entre seccion de abajo y la de arriba
.esp3 {
    margin-top: $espaciado-entre-secciones;
}

//espaciado entre título y contenido
.esp4 {
    margin-bottom: $espaciado-titulo-contenido;
}

//espaciado entre contenidos
.esp5 {
    margin-bottom: $espaciado-mismoContenido;
}

/* +++++ COLOR DE TEXTO +++++ */
.color-blanco {
    color: $color-fondo;
}

.color-celeste {
    color: $azul-activo;
}

/* +++++ BANNER PRINCIPAL +++++ */

//Posiciones de botones cotizar y quiénes somos
.pos1 {
    position: relative;
}

.pos2 {
    position: absolute;
    z-index: 10;
    left: -30px;
    bottom: 0px;
}

.pos3 {
    position: absolute;
    z-index: 10;
    top: -30px;
    right: -30px;
}

//Ajuste de imágenes al contenedor
img {
    object-fit: contain;
    width: 100%;
}

//BOTONES +++++++

//boton celeste claro
.btn1 {
    @include boton-banner
}

.btn1:hover {
    @include hover-boton-banner
}

//botón general

.btn2 {
    @include boton-general
}

.btn2:hover {
    @include boton-general-hover
}

//boton grande home maceteros
.btn3 {
    @include boton-grande-1
}

.btn3:hover {
    @include boton-grande-hover
}

//Boton grande home confección
.btn4 {
    @include boton-grande-2
}

.btn4:hover {
    @include boton-grande-hover
}

//Boton grande home revestimiento
.btn5 {
    @include boton-grande-3
}

.btn5:hover {
    @include boton-grande-hover
}

//boton grande home revestimiento

//LINKS +++++++++++ 

.link {
    color: $color-principal;
}

.link:hover {
    color: $azul-activo;
}

//TEXTOS "ESPECIALES" 
.bajada-titulo-banner {
    font-family: $parrafos;
    font-size: 1.5rem; //22px
    font-weight: 400;
    color: $color-principal;
    margin-top: 50px;
}

//Texto producto destacado
.txt-esp1 {
    color: $azul-activo;
    font-family: $parrafos;
    line-height: 2.375rem;
    font-size: 1.875rem;
    font-weight: 500;
}

.txt-esp2 {
    color: $color-principal;
    font-family: $parrafos;
    line-height: 2.375rem;
    font-size: 1.875rem;
    font-weight: 500;
}

.txt-esp3 {
    color: $color-principal;
    font-family: $parrafos;
    line-height: 2.5rem;
    font-size: 2rem;
    font-weight: 500;
}

/* +++++ SECCIÓN DE VISIÓN +++++ */

//Figura de título visión
.borde-vision {
    height: 135px;
    border-radius: 0 162px 0 0;
    background-color: $color-principal;
}

//color de fondo y altura de visiones (01, 02, 03)
.color-fondo {
    background-color: $color-principal;
    height: 305px;
}

//Proceso de confección con iconos.

.altura {
    height: 100px;
}

//Producto destacado

.img-fondo {
    height: 560px;
    background-image: url(../img/fondo-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}


/* ---- Fin HOME ----- */

/* ---- Categorias ----- */


/* Producto estilo personalizado */
.product-item {
    padding: 10px;
    border-radius: 8px;
}

/* Imagen */
.product-img {
    width: 100%;
    border-radius: 6px;
}

/* Texto */
.product-name {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.product-size {
    font-size: 16px;
    color: gray;
}

.product-price {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

/* Línea celeste */
.product-line {
    height: 3px;
    background-color: #1a73e8;
    margin-top: 10px;
}

/* Botón SIEMPRE visible y ahora RESPONSIVE */
.add-cart-hover {
    position: relative;
    display: flex;
    /* Centrado perfecto */
    justify-content: center;
    align-items: center;

    width: 100%;
    /* ✔ Se adapta al contenedor */
    height: 40px;

    background-color: white;
    /* Fondo blanco por defecto */
    color: white;
    /* Texto blanco (lo que pediste) */

    padding: 6px 12px;
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;

    font-size: 14px;
    border: none;

    transition: 0.3s ease;
}

/* Hover del botón: se vuelve celeste */
.add-cart-hover:hover {
    background-color: #1a73e8;
    color: white;
}

/* Aside sticky */
.filter-sticky {
    position: sticky;
    top: 20px;
}



/* Estilos mobile (<= 768px) */
@media (max-width: 768px) {

    /* Parte inferior con fondo celeste */
    .product-item .product-info {
        background-color: #E8F3FF;
        padding: 15px;
        border-radius: 0 0 10px 10px;
        /* redondeo inferior */
    }

    /* Botón azul en mobile */
    .product-item .add-cart-hover {
        background-color: #007bff !important;
        color: white !important;
        border: none;
        width: 100%;
    }

    .product-item .add-cart-hover:hover {
        background-color: #006ae0 !important;
    }

    /* Asegurar que la imagen no herede fondo */
    .product-img {
        background: transparent !important;
        display: block;
        width: 100%;
        border-radius: 10px 10px 0 0;
        /* redondeo superior */
    }
}