@mixin botonBanner{
    background-color: $celeste-default;
    color: $color-principal;
    font-family: $parrafos;
    font-size: $fuente-boton;
    border-radius: 60px;
    padding: 2.438rem 2.625rem; //39px 42px
    border: 12px solid $color-fondo;
}
@mixin botonQuienesSomos{
    background-color: $azul-activo;
    color: $color-fondo;
    font-family: $parrafos;
    font-size: $fuente-boton;
    border-radius: 22px;
    padding: 2.563rem 5rem; //41px 80px
    border: none;
}
@mixin botonTarjeta{
    color: $color-principal;
    font-family: $parrafos;
    font-size: $fuente-boton;
    border-radius: 22px;
    padding: 1.438rem 3.5rem; //23px 56px
    border: 3px solid $azul-activo;
}
@mixin botonGeneral{
    color: $color-principal;
    font-family: $parrafos;
    font-size: $fuente-boton;
    border-radius: 22px;
    padding: 1.438rem 3.5rem; //23px 56px
    border: 3px solid $color-principal;
}