// Tamaños de títulos
$tamaño-h1: ;   
$tamaño-h2: ;
$tamaño-h3: ;
$tamaño-h4: ;
$tamaño-h5: ;
$tamaño-p: ;    

// Colores principales
$color-principal: ;      
$color-secundario: ;      
$color-acento: ;         
$color-fondo: ;          
$color-oscuro: ;         
$color-claro: ;          
$color-gris: ;           

// Espaciado (márgenes y rellenos)
$espaciado-xs: ;
$espaciado-s: ;
$espaciado-m: ;
$espaciado-l: ;
$espaciado-xl: ;

// Bordes y sombras
$radio-borde: ;
$sombra-suave: ;
$sombra-fuerte: ;


